// Place all the styles related to the character controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.notSignedIn {
  text-align: center;
  font-family: 'Freckle Face', cursive;
}

.charBanner {
  text-align: center;
}

.new_character {
  width: 220px;
  margin: 0 auto;
  padding-bottom: 10px;
}

.charSubmit {
  display: block;
}

.progSubmit {
  margin-bottom: 10px;
}

.progBanner {
  margin-left: 35px;
}

.progForm {
  margin-left: 60px;
}

.accordion-toggle {
  text-align: center;
}

.accordion-inner {
  text-align: center;
}

.rightThird, .leftThird {
  margin-top: 30px;
}